* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ========================================================== */
/* nav */

.navbar{
    &-collapse {
        flex-grow: 0;
    }

    &-nav {
        font-size: 1.2em;
    }

    &-nav {
        font-size: 1.5em;
    }
}



/* fin nav */
/* ========================================================== */
/* slider */

.text-color {
    color: #141619;
    text-shadow: 1px 1px 0px #fff70082;
    background: #f0f8ffa3;
    width: 100%;
    bottom: 0;
}

.carousel-caption {
    position: absolute;
    right: 0;
    left: 0%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;

}

@mixin bg-fondo ($bg-pos) {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: $bg-pos;
}


.container {
    &-imagen-fondo1 {
        @include bg-fondo(20%);
        background-image: url("../assets/img/img-festt.jpg");
    }

    &-imagen-fondo2 {

        @include bg-fondo(30%);
        background-image: url("../assets/img/img-festtt.jpg");
    }

    &-imagen-fondo3 {
        @include bg-fondo(50%);
        background-image: url("../assets/img/img-festttt.jpg");
    }

}




/*  fin slider */
/* ========================================================== */
/* cards */

hr { 
    width: 70%;
    margin: 5% auto;
}



.container {
    &-main {
        width: 100%;
        max-height: 250px;
    }

    &-titulo-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.titulo-prox {
    position: absolute;
    margin-bottom: 0px;
}

.eventos {
    font-size: 10em;
    opacity: 0.1;
    font-family: "Poppins",sans-serif;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: rgb(205 199 0 / 51%);
    opacity: 0.4;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    color: rgba(192, 192, 0, 0.842);
}

.card-texto {
    & h6 b {
        color: red;
    }
}

#card-evento {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: 5% 0;
    & img {
        min-height: 350px;
        max-height: 180px;
    }
}

.card-eve {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: 5% 0;
    & img {
        max-height: 130px;
    }
  }

@media (max-width: 991px) {
    .card-eve img {
        max-height: 170px;
    }
}


@media (max-width: 575px) {
    .card-eve img {
        max-height: 300px;
    }
}

@media (max-width: 768px){
    .eventos {
        font-size: 80px;
    }
}

@media (max-width: 500px){
    .eventos {
        font-size: 70px;
    }
}


.card img {
    max-width: 400px;
    margin: auto;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}




#button-vermas {
    width: 13%;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.575);
    font-weight: 500;
}


@media (max-width: 1125px) {    
    #button-vermas {
        width: 39%;
    }
}




@media (max-width: 767px){
    .card-invisible2,.card-invisible3,.card-invisible4 {
        display: none;
    }
}

@media (max-width: 991px){
    #card-invisible4 {
        display: none;
    }
}

@media (min-width: 992px){
    #card-invisible4 {
        display: block;
    }
}


/* fin cards */
/* ========================================================== */
/* eventos */



.imagen-fest img {
    border-radius: 20px;
    width: 85%;
    margin: 5% 5%;
}

.texto-fest {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
        border-radius: 20px;
    }
   
}

.container-even {   
    display: flex;
    flex-direction: row-reverse
}


.lista-desordenada {
    & li {
        margin: 0 5%;
    }
}


@media (max-width: 992px) {
    .container-even {
        display: none   ;
    }

    #card-evento {
        margin: 9%;
    }
}












/* fin eventos */

/* seccion lugares */


@mixin bg-eventos ($bg-pos) {
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: $bg-pos;
    transition: all 0.9s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.card-lug {
    &.card-evento1 {
        @include bg-eventos(20%);
        background-image: url("../assets/img/img/movistar.jpg");
        &:hover {
            background-position-y: 50%;
        }
    }
    &.card-evento2 {
        @include bg-eventos(40%);
        background-image: url("../assets/img/img/gran-rex.jpg");
        &:hover {
            background-position-y: 60%;
        }
    }

    &.card-evento3 {
        @include bg-eventos(50%);
        background-image: url("../assets/img/img/concierto.jpg");
        &:hover {
            background-position-y: 80%;
        }
    }
    
    &.card-evento4 {
        @include bg-eventos(20%);
        background-image: url("../assets/img/img/imagen-principal.jpg");
        &:hover {
            background-position-y: 60%;
        }
    }
}


.texto-lugares {
    color: #fff;
    background: rgba(255, 255, 255, 0.116); 
    text-shadow: 2px 2px #000;
}


.parrafo-button {
    color: white;
    text-shadow: 2px 2px #000;
    font-size: 1.2em;
}

.button-lugares {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

@media (max-width: 992px) {
    #lugares-none {
        display: none;
    }
}

@media (max-width: 768px) {
    #lugar-none {
        display: none;
    }
}
/* fin seccion lugares */

.container {
    &-propio-eve {
        min-height: 250px;
        border: 2px solid #000;
        background-image: url("../assets/img/vender-entradas.jpg");
        background-size: cover;
        background-position-y: 45%;
        padding-right: 0px;
        padding-left: 0px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
     
    &-gest-butt {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        background: #ffffff96;
    }

}

.texto-prox-eve {
    font-weight: 700;
}



/* patrocina */

.container {
    &-patrocina {
        min-height: 250px;
        border: 2px solid #000;
        background-image: url("../assets/img/mesaimperial-naranja-evento-catering-goyocatering-andalucia.jpg");
        background-size: cover;
        background-position-y: 45%;
        padding-right: 0px;
        padding-left: 0px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &-gest-butt {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        background: #ffffff96;
    }

}

.texto-prox-eve {
    font-weight: 700;
}

/* fin patrocina */


/* Btn ayuda */

.help-img01{
    position: fixed;
    width: 60px;
    height: 60px;
    left: 88%;
    bottom: 17%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/img/ayuda.png");
    transition: .3s;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0);

    &:hover{
        background-image: url("../assets/img/descarga.png");
        background-size: contain;
        border-radius: 50px;
        width: 210px;
        height: 60px;
        transition: 0.5s;
      }
  }

  @media (max-width: 991px) {
    .help-img01 {
        display: none;
    }
  }
  
/* fin Btn ayuda */

/* Footer */

.footer{
    height: 250px;
    background: rgb(39, 35, 35);

    &-textos {
        color: #fff;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin: 0 5%;
    }

    &-txt {
        margin-top: 2%;
    }

    h6 {
        font-weight: 700;
    }

    a {
        text-decoration: none;
        color: white;
    }

}

@media (max-width: 575px) {
    .ocultar {
        display: none;
    }
}

/* Fin Footer */

/* servicios */

.img-servicios img{
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

 


@media (max-width: 1200px) {
    .parrafo-servicios {
        margin-top: 10%;
    }
}   

@media (min-width: 992px) and (max-width: 1200px){
    .container-servicios {
        display: flex;
        flex-direction: column;
    }



    .img-servicios img {
        width: 100%;
        max-height: 500px;
    }
}

@media (max-width: 767px) {
    .img-servicios img {
        max-width: 500px;
    }
}

@media (min-width: 537px) and (max-width: 540px){

    .container-servicios {
        display: flex;
        flex-direction: column;
}
        
    .img-servicios img {
        height: 300px;
    }
}
 
@media (max-width: 540px) {
    #img-servicios img {
        max-width: 350px;
    }

    #img-servicios {
        display: flex;
        justify-content: center;
    }
}

/* servicios */

.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 2px solid #000;

    & a {
        text-decoration: none;
        color: rgb(131, 131, 0);
    }

    & h3 {
    
        border-radius: 20px;
    }
}


.formulario-pagina {
    border: 2px solid #000;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 5% 2%;
    border-radius: 20px;
}

@media (max-width: 992px) {
    .form-contact {
        border-right: none;
    }
}

 
/* fin servicios */

/* eventos principales */


.container {
    &-evento {
        margin: 0% 5%;    
    }

    &-prox-eve {
        height: 65vh ;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-image: url("../img/CROCK.jpg");
        background-size: auto;
        background-position-y: 30%;
        background-position-x: -55%;
        margin-bottom: 2%;
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 5px;
        font-family: 'Be Vietnam Pro', sans-serif;
    }

    &-titulo-ubi {
        margin-left: 2%;
        margin-bottom: 3%;
        font-size: 3em;    
        color: #fff;
    }

    &-titulo-ubi {
        text-align: start;
        padding-top: 0.8%;
        text-shadow: 5px 5px rgba(255, 0, 0, 0.39);
    }
    
}





/* fin eventos principales */






/* bandas importantes */




.container-bandas-img {
    display: flex;
}

.img-primer-banda {
    height: 55vh ;
    width: 65%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: url("../img/lollapaloza.jpg");
    background-size: cover;
    background-position-y: 50%;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
    margin: 0% 1%;   
}

.img-segunda-banda {
    height: 55vh ;
    width: 35%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: url("../img/baradero.jpg");
    background-size: auto;
    background-position-x: 10%;
    background-position-y: 20%;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
    margin: 0% 1%;   
 
}

.container-texto-banda {
    display: flex;
    flex-direction: column;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    text-shadow: 5px 5px rgba(24, 14, 14, 0.39);
    margin-bottom: 3%;
}

.title-banda {
    margin-left: 5%;
}

.titulo-banda {
    margin-left: 5%;
}

.container-texto-bad {
    margin-bottom: 2%;
}

.container-texto-bad h3{
    margin-bottom: 22%;
}


.card-banda {
    font-size: 4.5em;
    opacity: 0.9;
    margin-bottom: 10%;
}

.container-titulo-banda {
    font-size: 2em;
}

 .container-bandas-img button {
    display: flex;
    align-items: flex-end;
}



.btnvermas {
    background-color: #FFD100;
    color: #000;
    border: none;
    font-family: Poppins, sans-serif;
    width: 100%;    
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnvermas:hover {
    background-color: #be9c04e0;
    color: #fff;
}











/* Fin bandas importantes */

/*  seccion eventos lugares */

.container-main {
    width: 100%;
    // height: 250px;
}

.container-titulo-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-prox {
    position: absolute;
}





.container-lugares {
    width: 100%;
    height: 65vh;
    /* background: #755104; */
    margin: 2% 0%;
    display: flex;
    font-size: 2em;
    text-align: center;
    color: rgb(228, 228, 228);
    text-shadow: 5px 5px #000 ;
}

.container-lugar-uno {
    height: 55vh;
    width: 33%;
    /* background: #000; */
    margin: 2.5% 5%;
    background-image: url("../img/movistar.jpg");
    background-size: cover;
    background-position-x: 50%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}

.container-lugar-uno a{
    text-decoration: none;
    color: rgb(228, 228, 228);
}

.container-lugar-dos {
    height: 55vh;
    width: 33%;
    /* background: #fff; */
    margin: 2.5% 5%;
    background-image: url("../img/luna.jpg");
    background-size: cover;
    background-position-x: 50%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.container-lugar-tres {
    height: 55vh;
    width: 33%;
    /* background: #000; */
    margin: 2.5% 5%;
    background-image: url("../img/vorterix.css");
    background-size: cover;
    background-position-x: 50%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}

.container-lugar-tres a{
    text-decoration: none;
    color: rgb(228, 228, 228);
}

.container-lugar-cuatro {
    height: 55vh;
    width: 55%;
    /* background: #fff; */
    margin: 2.5% 5%;
    background-image: url("../img/gran-rex.jpg");
    background-size: cover;
    background-position-y: 70%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.container-lugar-cinco {
    height: 55vh;
    width: 43%;
    /* background: #000; */
    margin: 2.5% 5%;
    background-image: url("../img/opera.jpg");
    background-size: cover;
    background-position-y: 55%;
    background-position-x: 25%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}


.container-lugar-cuatro a{
    text-decoration: none;
    color: rgb(228, 228, 228);
}




/* fin seccion eventos lugares */

/* Seccion imagen lugar y eventos */


.container-img-lugar-uno {
    background-image: url("../img/movistar-arena.jpg");
    background-size: cover;
    text-align: center;
    color: #fff;    
    text-shadow: 5px 10px #000;
    height: 45vh;
    background-color: brown;
    margin: 3% 0%;
    border-radius: 5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.arena {
    opacity: .9;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.container-titulo-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-prox {
    position: absolute;
}



.container-bandas {
    /* background: #dfb602; */
    width: 100%;
    height: 65vh;
    margin: 5% 0%;
    padding: 2% 5%;
}


.container-tres-bandas {
    display: flex;
}

.container-banda img {
    width: 100%;
    margin-bottom: 5%;
}


.container-banda {
    width: 100%;
    margin: 0% 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.027);
}




.btnvermas {
    background-color: #FFD100;
    color: #000;
    border: none;
    font-family: Poppins, sans-serif;
    width: 100%;    
    cursor: pointer;
    height: 30px;
}

.btnvermas:hover {
    background-color: #be9c04e0;
    color: #fff;
}

.button-ver-mas {
    display: flex;
    justify-content: center;
    align-content: center ;
}




.button-mas {
    background-color: #FFD100;
    color: #000;
    border: none;
    font-family: Poppins, sans-serif;
    width: 300px;    
    cursor: pointer;
    height: 50px;
    margin-bottom: 15%;
}



.button-mas:hover {
    background-color: #be9c04e0;
    color: #fff;
}

/* Fin Seccion imagen lugar y eventos */

